<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://hzkqsim.centaline.com.cn/AppDownLoad/InstallPackage/AttendanceV2.7.0.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>huizhou.centaline.Attendance</string>
				<key>bundle-version</key>
				<string>2.7.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>12-口袋中原测试版2.7.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
